nav#header_bg {
  background: #83c3c3;
}

ul#navbar-center {
  background: #83c3c3;
}

.parent_icon {
  padding: 0px 40px;
}

span#Count {
  position: absolute;
  top: 0px;
}

button#user-menu-button {
  padding: 8px 15px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
}

div#user-dropdown {
  position: absolute;
  top: 52px;
  right: 40px;
}



/* <=[======================== Footer =========================>*/

.div {
  padding: 7rem 1rem;
  background-color: rgb(6, 6, 6);
}

div .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 99.6rem;
  margin: 0 auto;
}

.div .col {
  flex-direction: column;
  color: var(--white);
  align-items: flex-start;
}

.div .col:last-child {
  flex-direction: row;
  justify-content: center;
}

.div .col:last-child span {
  font-size: 2.5rem;
  margin-right: 0.5rem;
  color: var(--white);
}

.div .col a {
  color: var(--white);
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 300;
}

.div .col h4 {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 567px) {
  div .row {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}


/* footer */

/* Extra small Device (Mobile Phone) */
@media screen and (max-width: 575px) {
  .footerContainer {
    padding: 8%;
    background-color: #040E1A;
    /* display: grid;
      grid-template-columns: auto auto auto auto; */
  }

  .gridfooter {
    margin-top: 30px;
    color: white;
  }

  .icans {
    padding-top: 10px;
  }

  /* .ican_footer {} */

  .ican_footer #fa {
    color: yellow;
  }

  .ican_footer #ican_right {
    margin-left: 20px;
  }

}

/* Small Devices (Tablets and Smaller Laptops) */

@media screen and (min-width:576px) and (max-width:991px) {
  .footerContainer {
    padding: 8%;
    background-color: #040E1A;
    display: grid;
    grid-template-columns: auto auto;
  }

  .gridfooter {
    margin-top: 30px;
    color: white;
  }

  .icans {
    padding-top: 10px;
  }

  /* .ican_footer {} */

  .ican_footer #fa {
    color: yellow;
  }

  .ican_footer #ican_right {
    margin-left: 20px;
  }
}

/* large Devices (Destops) */
@media screen and (min-width:992px) and (max-width:1199px) {
  .footerContainer {
    padding: 8%;
    background-color: #040E1A;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .gridfooter {
    color: white;
  }

  .icans {
    padding-top: 10px;
  }

  /* .ican_footer {} */

  .ican_footer #fa {
    color: yellow;
  }

  .ican_footer #ican_right {
    margin-left: 20px;
  }
}

/* Extra large devices (high resolution monitors) */

@media screen and (min-width: 1199px) {
  .footerContainer {
    padding: 8%;
    background-color: #040E1A;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .gridfooter {
    color: white;
  }

  .icans {
    padding-top: 10px;
  }

  /* .ican_footer {} */

  .ican_footer #fa {
    color: yellow;
  }

  .ican_footer #ican_right {
    margin-left: 20px;
  }
}

.getin_footer {
  padding: 0px 0px 22px 0px;
  display: grid;
  grid-template-columns: 3rem 14rem;
}

.footer-ican {
  font-size: 20px;
  color: yellow;
}

.ican_footer {
  display: flex;
  align-items: center;
}

svg.size-4 {
  width: 25px;
}

.gridfooter h3{
    font-size: 30px;
    padding: 20px 0px;
    font-weight: 500;
    font-family: sans-serif;

}
/* <============== Home pages========================> */

#middle-images {
  display: flex;
  width: 100%;
  background-color: black;

}

#image_1 {
  background: url("./components/Assest/img/new1.png");
  background-size: cover;
  background-position: center;
  padding-top: 40%;
  padding-bottom: 40%;
  width: 100%;

  margin-right: 2px;
  margin-bottom: 3px;

  background-repeat: no-repeat;

}

#image_2 {
  background: url("./components/Assest/img/new1.png");
  background-size: cover;
  background-position: center;
  padding-top: 40%;
  padding-bottom: 40%;
  width: 100%;
  background-repeat: no-repeat;
  margin-bottom: 3px;
}



#image_3 {
  background: url("./components/Assest/img/new2.png");
  background-size: cover;
  background-position: center;
  padding-top: 40%;
  padding-bottom: 40%;
  width: 100%;
  margin-right: 2px;
  margin-bottom: 3px;
  background-repeat: no-repeat;
}

#image_4 {
  background: url("./components/Assest/img/new3.png");
  background-size: cover;
  background-position: center;
  padding-top: 40%;
  padding-bottom: 40%;
  width: 100%;
  margin-bottom: 3px;
  background-repeat: no-repeat;
}

#image_5 {
  background: url("./components/Assest/img/new4.png");
  background-size: cover;
  background-position: center;
  padding-top: 40%;
  padding-bottom: 40%;
  width: 100%;
  background-repeat: no-repeat;
  margin-right: 2px;
  margin-bottom: 3px;
}

#image_6 {
  background: url("./components/Assest/img/new5.png");
  background-size: cover;
  background-position: center;
  padding-top: 40%;
  padding-bottom: 40%;
  width: 100%;
  background-repeat: no-repeat;
  margin-bottom: 3px;
}

/* media query */

@media screen and (max-width:768px) {
  #middle-images {
    display: block;
    width: 100%;

  }

  #image_1 {
    padding-top: 80%;
    padding-bottom: 80%;
  }

  #image_2 {
    padding-top: 80%;
    padding-bottom: 80%;
  }

  #image_3 {
    padding-top: 80%;
    padding-bottom: 80%;
  }

  #image_4 {
    padding-top: 80%;
    padding-bottom: 80%;
  }

  #image_5 {
    padding-top: 80%;
    padding-bottom: 80%;
  }

  #image_6 {
    padding-top: 80%;
    padding-bottom: 80%;
  }
}


/* <========Signup ===============> */
#form-container {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 0;
  padding: 40px 0px;
}

.container {
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}
h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin: 40px 0px 10px 0px;
}

#button:hover {
  background-color: #0056b3;
}

.star {
  color: red;
}

#spantag {
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
}
#signlogin {
  color: blue;
  font-size: 17px;
  cursor: pointer;
}

.first-section {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}

.all h2{
font-size: 20px;
font-weight: 500;
font-family: sans-serif;
}

.filter select {
  padding: 4px 31px;
}