* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

#header_bg {
  background: #1c6969;
}

ul#navbar-center {
  background: #1c6969;
}

.parent_icon {
  padding: 0px 40px;
}

span#Count {
  position: absolute;
  top: 0px;
}

button#user-menu-button {
  padding: 8px 15px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
}

div#user-dropdown {
  position: absolute;
  top: 52px;
  right: 40px;
}

.left-side {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.phitxt {
  display: flex;
  align-items: center;
  justify-content: start;
}
.hpptxt {
  padding: 0px 15px;
}


/* <=[======================== Footer =========================>*/

.div {
  padding: 7rem 1rem;
  background-color: rgb(6, 6, 6);
}

div .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 99.6rem;
  margin: 0 auto;
}

.div .col {
  flex-direction: column;
  color: var(--white);
  align-items: flex-start;
}

.div .col:last-child {
  flex-direction: row;
  justify-content: center;
}

.div .col:last-child span {
  font-size: 2.5rem;
  margin-right: 0.5rem;
  color: var(--white);
}

.div .col a {
  color: var(--white);
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 300;
}

.div .col h4 {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 567px) {
  div .row {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}


/* footer */

/* Extra small Device (Mobile Phone) */
@media screen and (max-width: 575px) {
  .footerContainer {
    padding: 8%;
    background-color: #040E1A;
    /* display: grid;
      grid-template-columns: auto auto auto auto; */
  }

  .gridfooter {
    margin-top: 30px;
    color: white;
  }

  .icans {
    padding-top: 10px;
  }

  /* .ican_footer {} */

  .ican_footer #fa {
    color: yellow;
  }

  .ican_footer #ican_right {
    margin-left: 20px;
  }

}

/* Small Devices (Tablets and Smaller Laptops) */

@media screen and (min-width:575px) and (max-width:991px) {
  .footerContainer {
    padding: 8%;
    background-color: #040E1A;
    display: grid;
    grid-template-columns: auto auto;
  }

  .gridfooter {
    margin-top: 30px;
    color: white;
  }

  .icans {
    padding-top: 10px;
  }

  /* .ican_footer {} */

  .ican_footer #fa {
    color: yellow;
  }

  .ican_footer #ican_right {
    margin-left: 20px;
  }
}

/* large Devices (Destops) */
@media screen and (min-width:991px) and (max-width:1199px) {
  .footerContainer {
    padding: 8%;
    background-color: #040E1A;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .gridfooter {
    color: white;
  }

  .icans {
    padding-top: 10px;
  }

  /* .ican_footer {} */

  .ican_footer #fa {
    color: yellow;
  }

  .ican_footer #ican_right {
    margin-left: 20px;
  }
}

/* Extra large devices (high resolution monitors) */

@media screen and (min-width: 1199px) {
  .footerContainer {
    padding: 8%;
    background-color: #040E1A;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .gridfooter {
    color: white;
  }

  .icans {
    padding-top: 10px;
  }

  /* .ican_footer {} */

  .ican_footer #fa {
    color: yellow;
  }

  .ican_footer #ican_right {
    margin-left: 20px;
  }
}

.getin_footer {
  padding: 0px 0px 22px 0px;
  display: grid;
  grid-template-columns: 3rem 14rem;
}

.footer-ican {
  font-size: 20px;
  color: yellow;
}

.ican_footer {
  display: flex;
  align-items: center;
}

svg.size-4 {
  width: 25px;
}

.gridfooter h3 {
  font-size: 30px;
  padding: 20px 0px;
  font-weight: 500;
  font-family: sans-serif;

}

/* <============== Home pages========================> */

#middle-images {
  display: flex;
  width: 100%;
  background-color: black;

}

#image_1 {
  background: url("./components/Assest/img/new1.png");
  background-size: cover;
  background-position: center;
  padding-top: 40%;
  padding-bottom: 40%;
  width: 100%;

  margin-right: 2px;
  margin-bottom: 3px;

  background-repeat: no-repeat;

}

#image_2 {
  background: url("./components/Assest/img/new1.png");
  background-size: cover;
  background-position: center;
  padding-top: 40%;
  padding-bottom: 40%;
  width: 100%;
  background-repeat: no-repeat;
  margin-bottom: 3px;
}



#image_3 {
  background: url("./components/Assest/img/new2.png");
  background-size: cover;
  background-position: center;
  padding-top: 40%;
  padding-bottom: 40%;
  width: 100%;
  margin-right: 2px;
  margin-bottom: 3px;
  background-repeat: no-repeat;
}

#image_4 {
  background: url("./components/Assest/img/new3.png");
  background-size: cover;
  background-position: center;
  padding-top: 40%;
  padding-bottom: 40%;
  width: 100%;
  margin-bottom: 3px;
  background-repeat: no-repeat;
}

#image_5 {
  background: url("./components/Assest/img/new4.png");
  background-size: cover;
  background-position: center;
  padding-top: 40%;
  padding-bottom: 40%;
  width: 100%;
  background-repeat: no-repeat;
  margin-right: 2px;
  margin-bottom: 3px;
}

#image_6 {
  background: url("./components/Assest/img/new5.png");
  background-size: cover;
  background-position: center;
  padding-top: 40%;
  padding-bottom: 40%;
  width: 100%;
  background-repeat: no-repeat;
  margin-bottom: 3px;
}

/* media query */

@media screen and (max-width:768px) {
  #middle-images {
    display: block;
    width: 100%;

  }

  #image_1 {
    padding-top: 80%;
    padding-bottom: 80%;
  }

  #image_2 {
    padding-top: 80%;
    padding-bottom: 80%;
  }

  #image_3 {
    padding-top: 80%;
    padding-bottom: 80%;
  }

  #image_4 {
    padding-top: 80%;
    padding-bottom: 80%;
  }

  #image_5 {
    padding-top: 80%;
    padding-bottom: 80%;
  }

  #image_6 {
    padding-top: 80%;
    padding-bottom: 80%;
  }
}


/* <========Signup ===============> */
#form-container {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 0;
  padding: 40px 0px;
}

.container {
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin: 40px 0px 10px 0px;
}

#button:hover {
  background-color: #0056b3;
}

.star {
  color: red;
}

#spantag {
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
}

#signlogin {
  color: blue;
  font-size: 17px;
  cursor: pointer;
}

.first-section {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}

.all h2 {
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
}

.filter select {
  padding: 4px 31px;
}

/* <======shop pages =========> */
.product-outer {
  padding: 0px 40px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* padding: 20px 5px; */
}

.sub_product {
  background-color: #fff;
  padding: 0px 10px;
  margin: 10px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* margin: 10px;
  padding: 20px; */
  text-align: center;
  max-width: 260px;
  width: 100%;
  cursor: pointer;
}

/* .product_img { */
/* max-width: 100%;
  height: auto; */
.product_img img {
  /* max-width: 350px;
    width: 100%; */
  height: 40vh;
}


.product_name h2 {
  font-size: 1.2em !important;
  margin: 10px 0 !important;
}

.product_price {
  color: #333;
}

.discount {
  color: #e74c3c;
  text-decoration: line-through;
}


/* .product_buttom button {
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 20px 0px;
}

button:hover {
  background-color: #2980b9;
} */

.wishlistican {
  padding: 0px 15px;
  position: relative;
  top: 15px;
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.productmultipleimg {
  padding: 20px 0px;
}

/* <========Cart============> */

div#cart-pages {
  background: #f4f6f6;
}

.cart-item {
  /* display: flex; */
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid;
}

.cart-item img {
  max-width: 100px;
  margin-right: 20px;
}

/* .item-details {
  flex: 1;
} */

.item-details #h3 {
  font-size: 18px;
  margin: 0;
}

.item-details .price {
  color: #e74c3c;
  font-size: 16px;
}

.item-details .discount {
  color: #27ae60;
  font-size: 14px;
}

.price-summary {
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.cart-button button {
  display: block;
  width: 50%;
  padding: 15px;
  background-color: black;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.cart-button button:hover {
  background-color: #e68900;
}


.price-details {
  background-color: #ffff;
  /* border: 1px solid #e0e0e0; */
  margin: 20px 20px;
  padding: 20px 20px;
  /* border-radius: 10px; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.price-details h2 {
  text-align: center;
  margin-bottom: 20px;
}

.detail,
.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
}

/* p {
  text-align: center !important;
  color: green;
  font-weight: bold !important;
} */

.cart-2nd {
  display: grid;
  grid-template-columns: 8fr 4fr;
  padding: 10px 40px 10px 40px;
}

.product-details {
  padding: 20px 20px;
  margin: 20px 20px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid #e0e0e0; */
  /* border-radius: 10px; */
  background-color: #ffff;
}

.cart-button {
  padding: 20px 0px 20px 0px;
}

.item-details-container {
  display: flex;
  justify-content: flex-start;
}

.item-details-size {
  display: flex;
  justify-content: flex-start;
  padding: 3px 10px;
}

.item-details-title {
  padding: 3px 10px;
}

.item-details-price {
  display: flex;
  justify-content: flex-start;
  padding: 3px 10px;
}


p.percentage {
  padding: 0px 0px 0px 20px;
}

p#ssl {
  padding: 0px 0px 0px 20px;
}

h3#h3 {
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
}

#discount {
  text-decoration: line-through;
  padding: 0px 0px 0px 20px;
}

.item-details-dcrinrsa-re {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0px;
}

.decinr {
  padding: 0px 15px 0px 0px;
}

button.nega {
  padding: 0px 10px;
  margin: 0px 5px 0px 0px;
  background-color: white;
  border-radius: 50px;
  border: 0.1px solid;
}

button.count {
  padding: 0px 10px;
  margin: 0px 5px;
  background-color: white;
  border-radius: 50px;
  border: 0.1px solid;
}

button.pule {
  padding: 0px 10px;
  margin: 0px 5px;
  background-color: white;
  border-radius: 50px;
  border: 0.1px solid;
}

button.savelater {
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  font-family: sans-serif;
  background-color: #ffff;
  letter-spacing: -1px;
}

button.remove {
  padding: 0px 15px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  font-family: sans-serif;
  background-color: #ffff;
  letter-spacing: -1px;
}

/* <=============== Shodetails pages ===================> */
#product {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.productde {
  /* display: flex;
  flex-direction: column; */
  border: 1px solid #e0e0e0;
  /* border-radius: 10px; */
  /* overflow: hidden; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
}

.productcontainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.productImg {
  width: 400px;
  max-width: 100%;
}

.productImg img {
  width: 400px;
  max-width: 100%;
  height: 80vh;
  /* border-radius: 10px; */
}

.productright {
  flex: 1;
  padding: 20px;
}

.productname {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.producttitle {
  font-size: 18px;
  color: #666;
  padding: 10px 0px;
}

.product-details-price {
  display: flex;
  align-items: baseline;
  padding: 10px 0px;
}


.item-details-price .percentage {
  font-size: 18px;
  color: #43a047;
}

.productrating {
  font-size: 16px;
  color: #fdd835;
}

.productsize {
  padding: 10px 0px;
  font-size: 16px;
  color: #333;
}

.productOffers {
  padding: 10px 0px;
  font-size: 16px;
  color: #1e88e5;
}

.imgcontainer {
  /* width: 100px; */
  padding: 0px 20px 20px 20px;
}

.imgcontainer img {
  width: 80px;
  height: 100px;
}

.prtbton {
  display: flex;
  /* justify-content: space-evenly; */
  padding: 20px 0px;
}

button.prtatc {
  border: 1px solid;
  padding: 12px 20px;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
  margin: 0px 4px 0px 0px;
}

button.prtbn {
  border: 1px solid;
  padding: 12px 20px;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
  margin: 0px 0px 0px 4px;
}

@media (max-width: 768px) {
  .productcontainer {
    flex-direction: column;
  }

  .productright {
    padding-top: 10px;
  }
}

/* <============ Wishlist================> */
.whctainr {
  padding: 30px 140px;
  background-color: #f4f6f6;
}
.wi_scoter {
  width: 100%;
  display: flex;
}
.lftsde {
  width: 25%;
}
.rghtsde {
  width: 75%;
}

.lft_pofle {
  background-color: white;
  padding: 20px 10px;
  margin: 10px 0px;
  display: flex;
}

.lftmordr {
  background-color: white;
  padding: 20px 10px;
  margin: 3px 0px;
  display: flex;
  justify-content: flex-start;
}
.lftacontsting {
  background-color: white;
  padding: 20px 10px;
  margin: 3px 0px;
}

.lftactcont {
  padding: 15px 0px;
  display: flex;
  justify-content: flex-start;
}

.lftpymt {
  background-color: white;
  padding: 20px 10px;
  margin: 3px 0px;
}

.lftcont {
  padding: 15px 0px;
  display: flex;
  justify-content: flex-start;
}

.lftstff {
  background-color: white;
  padding: 20px 10px;
  margin: 3px 0px;
}

.lftsffcont {
  padding: 15px 0px;
  display: flex;
  justify-content: flex-start;
}

.lftlgot {
  background-color: white;
  padding: 20px 10px;
  margin: 3px 0px;
  display: flex;
  justify-content: flex-start;
}

.rgth {
  background-color: white;
  padding: 20px 10px;
  margin: 10px 20px;
}

.rgtpc {
  background-color: white;
  padding: 20px 40px;
  margin: 3px 20px;
  display: flex;
  justify-content: space-between;
}

.rgdt {
  padding: 0px 20px;
  cursor: pointer;
}

.rgctp {
  display: flex;
}
.rgspiz {
  display: flex;
  align-items: center;
}
.lft_pofle {
  background-color: white;
  padding: 20px 10px;
  margin: 10px 0px;
  display: flex;
}

.lftpfleig {
  width: 20%;
  display: flex;
  align-items: center;
}
.lftpfleig img{
  border-radius: 50%;
}
.lft_txt {
  padding: 10px 25px;
}

p#ho {
  font-size: 15px;
  font-weight: 300;
  font-family: sans-serif;
}

.lft_txt #pfn {
  font-size: 25px;
  font-weight: 500;
  font-family: sans-serif;
}

.rgth #rgh{
font-size: 20px;
font-weight: 500;
font-family: sans-serif;
line-height: 15px;
padding: 10px 20px;
}

svg.size-6 {
  width: 20px;
}



.lftordrtxt, .lftconttxt, .lftpymttxt, .lftsffttxt, .lftlogt{
  padding: 0px 30px;
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
}

.lftpoifo, .lftpoads, .lftgtcd, .lftspi, .lftsffmtcopn, .lftsffnti, .lftsffrera, .lftsffwit, .lftpopai, .lftscds {
  padding-left: 50px;
  font-size: 15px;
  font-weight: 400;
  margin: 8px 0px;
  font-family: sans-serif;
}

/* <=================About pages=================> */
.abimg {
  /* background-image: url("../src/components/Assest/img/fourth.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #8dc7c7;
  height: 30vh;
}

.abimg h2 {
  font-size: 50px;
  font-weight: 400;
  font-family: sans-serif;
  padding: 60px 0px;
  position: absolute;
  left: 120px;
}

.psinpp, .psaddppp, .psamnppp, .psligdr {
  padding: 20px 10px;
  margin: 10px 20px;
  background-color: white;
}
.pslin, .psaddml,  .psmnml {
  display: flex;
  justify-content: start;
}

.pslihgdit, .psmngdit {
  padding: 0px 20px;
}

.pslinipt {
  display: flex;
  justify-content: start;
  align-items: center;
}
.pslinitlirn {
  padding: 0px 10px;
}

.pslihgipt, .pslimnipt {
  width: 30%;
}

.psligj {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 0px;
}

.psligf {
  padding: 0px 20px;
}

.psligm  input[type="radio"], .psligf input[type="radio"] {
  cursor: not-allowed;
}

input#first-name, input#last-name, input#email, input#number {
  border: none;
  height: 50px;
  cursor: not-allowed;
}


/* <------------ Order ---------------> */
.olrpp {
  background-color: #f4f6f6;
  padding: 10px 20px;
}

.olrspp {
  display: flex;
  justify-content: start;
  max-width: 1440px;
  width: 100%;
  padding: 20px 10px;
}

.olrlflr {
  max-width: 300px;
  width: 100%;
  max-width: 300px;
  width: 100%;
  padding: 0px 0px;
  margin: 0px 20px 0px 0px;
}

.olrRsl {
  max-width: 1140px;
  width: 100%;
}

.olrLftxt #fill{
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
}
.olrLftxt {
  padding: 10px 20px;
  margin: 5px 0px;
  background-color: white;
}

.olrLOStxt, .olrLOTtxt{
  padding: 10px 20px;
  margin: 5px 0px;
  background-color: white;
}

.olrLOStxt #odr, .olrLOTtxt #ord{
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
}


.olrLodrst, .olrLodrT {
  background-color: white;
  padding: 10px 0px;
  margin: 0px 0px 5px 0px;
}
.olrLCI {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px 20px;
}
.olrLI {
  display: flex;
  align-items: center;
}
.olrLItxt {
  margin: 0px 10px;
  display: flex;
  align-items: center;
}

#ost{
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
}

.olrRss {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  padding: 10px 0px;
}
.olrRssi {
  max-width: 1100px;
  width: 100%;
}

.olrRsB {
  max-width: 200px;
  width: 100%;
  background: black;
  color: white;
}
button.search-button {
  padding: 5.5px 14px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
}
input.search-input {
  padding: 8px 20px;
  border: none;
}

.olsRslit {
  display: flex;
  justify-content: start;
  padding: 20px 0px;
  background: white;
  margin: 10px 0px;
}
.olsRslit1t {
  display: flex;
  justify-content: space-between;
}
.olsRsIg, .olsRstxt {
  padding: 0px 20px;
}

.olsRslit2d {
  padding: 0px 30px;
}